.custom-404-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  /* Add padding-top if the image needs to be further down from the navbar */
  padding-top: 60px; /* Adjust as needed */
}

.custom-404-image {
  max-width: 30%;
  margin-bottom: 20px; /* Reduced space between image and lower content */
}

.custom-404-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.normal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid $yellow;
  padding: 10px 20px;
  @include font-weight(medium);
  transition: 0.35s ease-in-out;
  text-align: center;

  &.primary {
     background: $yellow;
     @include dark-color(dark);
  }

  &:hover {
     background: $yellow;
     @include dark-color(dark);
     background: $light;
     filter: drop-shadow(4px 4px 0 rgba($yellow, 0.5));
  }
}
.custom-404-description {
  font-size: 1.25rem;
  margin-bottom: 20px; /* Reduced space below description */
}

.custom-404-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.arrow-icon {
  font-size: 1.25rem; /* Adjust arrow size */
  margin-right: 8px; /* Space between the arrow and text */
  display: flex; /* Ensure proper alignment */
  align-items: center; /* Center arrow vertically */
}