@import "./partials/variables";
@import "./partials/mixins";
@import "./tailwind.css";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: none;
}

body {
   font-family: "Roboto", sans-serif;
   color: $light;
   position: relative;
   scroll-behavior: smooth;
   min-height: 100vh;
   overflow-x: hidden;
   @include dark-color-bg(medium);
}

.container {
   max-width: 1200px;
   margin: auto;
}

.mouse {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 2rem;
   height: 2rem;
   transform: translate(-30%, -20%);
   z-index: 9999;
   pointer-events: none;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

section {
   padding-bottom: 150px;
}

img {
   width: 100%;
   height: auto;
   user-select: none;
   pointer-events: none;
}

@import "./partials/components";

// importing pages
@import "./pages/home";
@import "./pages/contact";
@import "./pages/work";

// responsive
@import "./partials/responsive";


// Specific styles for react-phone-input-2 to match form-control
.react-tel-input {
   .form-control {
      @include dark-color-bg(dark);
      color: $light;
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;
      padding-left: 50px;
      width: 100%;
      height: 3.5rem;
   }

   .flag-dropdown {
      background-color: map-get($map: $black-colors, $key: dark);
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;
   }

   .selected-flag {
      background-color: map-get($map: $black-colors, $key: dark);
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
         background-color: map-get($map: $black-colors, $key: dark);
      }
   }

   .form-control:focus {
      border-color: rgba(255, 214, 0, 0.5);
   }

   .country-list {
      background-color: map-get($map: $black-colors, $key: light);
      color: $light;

      .country {
         &:hover {
            background-color: map-get($map: $black-colors, $key: dark);
         }

         &.highlight {
            background-color: map-get(
               $map: $black-colors,
               $key: dark
            ) !important;
         }
         .dial-code {
            color: $light;
         }
      }

      .selected-flag {
         background-color: map-get($map: $black-colors, $key: dark);
         color: $light;
      }
   }
}