@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/components";
@import "./partials/customSelect.scss";
@import "./partials/placeOrder";
@import "./tailwind.css"; // Import Tailwind after custom styles

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   cursor: none;
}

body {
   font-family: "Roboto", sans-serif;
   color: $light;
   position: relative;
   scroll-behavior: smooth;
   min-height: 100vh;
   overflow-x: hidden;
   @include dark-color-bg(medium);
}

.container {
   max-width: 1200px;
   margin: auto;
}

.mouse {
   position: fixed;
   top: 50%;
   left: 50%;
   width: 2rem;
   height: 2rem;
   transform: translate(-30%, -20%);
   z-index: 9999;
   pointer-events: none;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

section {
   padding-bottom: 150px;
}

img {
   width: 100%;
   height: auto;
   user-select: none;
   pointer-events: none;
}

// importing pages
@import "./pages/home";
@import "./pages/contact";
@import "./pages/work";
@import "./pages/website-cost-calculator";
@import "./pages/404.scss";
@import "./pages/gigs.scss";
@import "./pages/caeers"; // Fix typo: careers
@import "./pages/client";

// responsive styles
@import "./partials/responsive";

// Styles for react-phone-input-2
.react-tel-input {
   .form-control {
      @include dark-color-bg(dark);
      color: $light;
      border: 1px solid map-get($black-colors, light);
      border-radius: 0;
      padding-left: 50px;
      width: 100%;
      height: 3.5rem;
   }

   .flag-dropdown {
      background-color: map-get($black-colors, dark);
      border: 1px solid map-get($black-colors, light);
      border-radius: 0;
   }

   .selected-flag {
      background-color: map-get($black-colors, dark);
      border: 1px solid map-get($black-colors, light);
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
         background-color: map-get($black-colors, dark);
      }
   }

   .form-control:focus {
      border-color: rgba(255, 214, 0, 0.5);
   }

   .country-list {
      background-color: map-get($black-colors, light);
      color: $light;

      .country {
         &:hover {
            background-color: map-get($black-colors, dark);
         }

         &.highlight {
            background-color: map-get($black-colors, dark) !important;
         }

         .dial-code {
            color: $light;
         }
      }

      .selected-flag {
         background-color: map-get($black-colors, dark);
         color: $light;
      }
   }
}
